.jumbotron {
    background-color: midnightblue;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: midnightblue;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

a {
    color: lightgray;
}